@font-face {
    font-family: josefin;
    src: url(font/JosefinSans-Medium.ttf);
}
body {
    overflow-x: hidden;
}
.nav, .main, section, footer {
    font-family: josefin;
}
.main {
    width: 100vw;
    height: 86vh;
    background: url(assets/laptop.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.main::after {
    content: "";
    background: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 86vh;
}
.main div {
    position: absolute;
    z-index: 1;
    width: 650px;
    height: 200px;
    margin-left: 10%;
    margin-bottom: 150px;
}
.main div h1, .main div p {
    margin-bottom: 30px;
    color: white;
}
.main div h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: clamp(2rem, 4vw, 5rem);
}
.main div p {
    font-size: clamp(1rem, 1.2vw, 2rem);
}
.main button {
    border: none;
    border-radius: 4px;
    padding: 12px 40px;
    background: #EA6A6A;
    color: white;
    transition: 0.3s;
}
.main button:hover {
    background: #ED5353;
}

/**-------------------------SECTION-1-------------------------------**/
.section-1 {
    height: 100vh;
}
.section-1 .container-1 {
    height: 15vh;
    padding-left: 12%;
}
.section-1 .container-1 p {
    font-size: 20pt;
}
.section-1 .container-1 div {
    width: 100px;
    height: 2px;
}
.section-1 .container-2 {
    width: 100%;
    height: 35vh;
    padding-left: 12%;
}
.section-1 .container-2 {
    gap: 25px;
    font-size: clamp(1rem, 1vw, 3rem);
}
.section-1 .container-3 {
    width: 100%;
    height: 30vh;
    flex-wrap: wrap;
    gap: 20px;
}
.section-1 .container-3 .box-1 {
    gap: 15px;
}
@media (max-width: 600px) {
    .section-1 {
        height: 110vh;
        width: 100vw;
    }
    .section-1 .container-3 {
        margin-top: 20px;
        gap: 20px;
    }
}


/**-------------------------SECTION-2-------------------------------**/
.section-2 {
    background: #F7F3EE;
    height: 140vh;
}
.section-2 .container-1 {
    padding: 50px 12px 35px 12px;
    text-align: center;
    line-height: 22pt;
}
.section-2 .container-1 div {
    width: 100px;
    height: 2px;
    background: black;
}
.section-2 .container-2 {
    gap: 100px;
    padding-top: 30px;
    flex-wrap: wrap;
}
.section-2 .container-2 .line {
    width: 300px;
    height: 2px;
    background: black;
}
.section-2 .container-2 img {
    width: 400px;
    height: 400px;
}
@media (max-width: 600px) {
    .section-2 {
        height: 145vh;
        width: 100vw;
    }
    .section-2 .container-2 img {
        width: 320px;
        height: 320px;
    }
    .section-2 .container-2 .box-1 {
        gap: 50px;
        padding: 20px;
    }

}

/* ------------------------------CONTACT------------------------------ */
.contactus {
    width: 100%;
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f3f3f3;
    gap: 20px;
}
.contactus h1 {
    margin: 20px 0;
    font-size: 20pt;
    color: #EA6A6A;
    text-decoration: underline;
}
.contactus .box-1, .contactus .container-2 .section-1 {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.10);
}
.contactus .container-1 {
    width: 70%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.contactus .box-1 {
    width: 380px;
    height: 160px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contactus .container-2 {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.contactus .container-2 .section-1 {
    padding: 30px 0;
    width: 70%;
    height: 87vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.contactus .container-2 .box-2 {
    gap: 10px;
    display: flex;
} 
.contactus .box-3 {
    margin-top: 18px;
}
.contactus p {
    font-size: 10pt;
}
.contactus input, .contactus textarea {
    width: 360px;
    height: 45px;
    padding: 20px;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}
#mySubject, #myMessage {
    width: 730px;
}
#myMessage {
    height: 250px;
}
#mySubmit {
    width: 200px;
    padding: 0;
    font-size: 12pt;
    color: white;
    background:rgb(26, 142, 214);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
#mySubmit:hover {
    background: #2671b3;
}


/* ------------------------------JEREMY------------------------------ */
.title1 {
    color: #EA6A6A;
    font-size: 20pt;
    text-align: center;
}
.section-3 {
    height: 120vh;
}
.section-3 .container {
    max-width: 800px;
    margin: 0 auto;
}
.section-4 {
    background: #f3f3f3;
    height: 160vh;
}
.title {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}
.subtitle {
    font-size: 19px;
    text-align: center;
    margin-top: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 30%;
    padding: 10px;
}
.icon {
    width: 30%;
    text-align: center;
    color: pink;
}
.icon-title {
    font-size: 19px;
    text-align: center;
}
.icon-descfiption {
    font-size: 17px;
    text-align: justify;
}
.card {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.service {
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 4px;
    padding: 5px 40px;
    background: #EA6A6A;
    color: white;
    transition: 0.3s;
}

.table-1 {
    height: 120vh;
}
.table-1 h6 {
    color: #EA6A6A;
    text-decoration: underline;
    font-size: 20pt;
}
table {
    width: 95%;
    border-collapse: collapse;
    border: 1px solid;
}
thead {
    background-color: blueviolet;
    color: white;
    border: 1px solid;
}
td, th, tr, tbody, thead {
    padding: 10px;
    border: 1px solid;
    text-align: center;
}
table button {
    width: 45%;
    height: 100%;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

/* ----------------------------ERNEST------------------------------ */
.reviewhead {
    min-height: 75vh;
    padding-top: 20px;
    position: relative;
    height: 100vh;
}
.reviewhead::before{
    background-image: url(assets/senyum.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.5;
}
.reviewheadtext {
    color: black;
    isolation: isolate;
}
.testimonial h6 {
    color: #EA6A6A;
    font-size: 20pt;
    text-decoration: underline;
}
.testi {
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 5px 40px;
    background: #EA6A6A;
    color: white;
    transition: 0.3s;
}
.testi a {
    text-decoration: none;
    color: white;
}
.testi a:hover {
    color: white;
}
.ourworking {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.paragraphow {
    margin-left: 15%;
    margin-right: 15%;
}

.section-6 {
    background: #f3f3f3;
    height: 150vh;
}
.ourworkimg {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.paragraphow {
    margin-left: 15%;
    margin-right: 15%;
}


.address, .contact, .pages, .sosmed {
    padding-left: 20px;
    padding-top: 10px;
}
.auhead {
    height: 40vh;
    background-color: pink;
    background-image: url(assets/ourworks2.jpeg);
    background-size: cover;
    position: relative;
}
.auheadtext {
    color: white;
    height: 40vh;
    position: absolute; left: 0; right: 0;
    padding: 2.5rem;
    padding-top: 3.5rem;
    background-image: linear-gradient(to top,
    rgba(0,0,0,1),
    rgba(0,0,0,0));
}
.paragraphaboutus {
    padding-top: 1px;
}

.section-6 a {
    width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.19);
}
.section-6 a {
    text-decoration: none;
    color: #EA6A6A;
}
.section-6 h6 {
    color: #EA6A6A;
    font-size: 20pt;
    text-decoration: underline;
}
.box {
    top: -100px;
}

